//begin my-courses-active
mixin courses-top__slide-active(className, classNameCourse, theme, name, btn)
  //begin courses-top__slide
  div(class="courses-top__slide " + className + "")
    //begin courses-top__slide-header
    .courses-top__slide-header
      div(class="courses-top__slide-theme courses-top__slide-theme--" + classNameCourse + "")
        span #{theme}
      //begin courses-top__slide-rait
      .courses-top__slide-rait
        .profile-top-teacher__rait-svg.profile-top-teacher__rait-svg--4
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
      //end courses-top__slide-rait
    //end courses-top__slide-header

    h3.courses-top__slide-title #{name}

    .courses-top__slide-teacher
      span.courses-top__slide-teacher-position Преподаватель:
      =' '
      a(href="#").courses-top__slide-teacher-name Петр Максимов

    .courses-top__slide-text
      p Lorem ipsum dolor amet, consectetur adipiscing. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

    //begin courses-top__slide-btns
    .courses-top__slide-btns
      a(href="#").btn.btn--light Подробнее
      a(href="#").btn.btn--dark #{btn}
    //end courses-top__slide-btns
  //end courses-top__slide
//begin my-courses-active

//begin my-courses-recommend
mixin courses-top__slide-recommend(className, classNameCourse, theme, name)
  //begin courses-top__slide
  div(class="courses-top__slide " + className + "")
    //begin courses-top__slide-header
    .courses-top__slide-header
      div(class="courses-top__slide-theme courses-top__slide-theme--" + classNameCourse + "")
        span #{theme}
      //begin courses-top__slide-rait
      .courses-top__slide-rait
        .profile-top-teacher__rait-svg.profile-top-teacher__rait-svg--4
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
      //end courses-top__slide-rait
    //end courses-top__slide-header

    h3.courses-top__slide-title #{name}

    .courses-top__slide-teacher
      span.courses-top__slide-teacher-position Преподаватель:
      =' '
      a(href="#").courses-top__slide-teacher-name Петр Максимов

    //begin courses-top__slide-info
    .courses-top__slide-info
      span.courses-top__slide-info-item 16 часов
      span.courses-top__slide-info-item 8 занятий
      span.courses-top__slide-info-item 150 человек
    //end courses-top__slide-info

    .courses-top__slide-text
      p Lorem ipsum dolor amet, consectetur adipiscing. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

    //begin courses-top__slide-points
    .courses-top__slide-points
      span.courses-top__slide-points-lg 2 000
      span.courses-top__slide-points-sm баллов
    //end courses-top__slide-points

    //begin courses-top__slide-btns
    .courses-top__slide-btns
      a(href="#").btn.btn--light В избранное
      a(href="#").btn.btn--dark Подробнее
    //end courses-top__slide-btns
  //end courses-top__slide
//begin my-courses-recommend



//begin my-courses-list
.my-courses-list
  .container
    //begin my-courses-active
    .my-courses-active
      h3.my-courses-list__title Активные курсы
      +courses-top__slide-active('courses-top__slide--exclusive', 'psychology', 'Психология', 'Курс Психология 2.0', 'Продолжить обучение')
      +courses-top__slide-active('courses-top__slide--recommend', 'esoterics', 'Эзотерика', 'Курс Эзотерика 2.0', 'Продолжить обучение')
      h3.my-courses-list__title Пройденные курсы
      +courses-top__slide-active('', 'psychology', 'Психология', 'Курс Психология 2.0', 'Сертификат')
      +courses-top__slide-active('courses-top__slide--recommend', 'esoterics', 'Эзотерика', 'Курс Эзотерика 2.0', 'Сертификат')
    //end my-courses-active

    //begin my-courses-recommend
    .my-courses-recommend
      h3.my-courses-list__title Рекомендуем Вам
      +courses-top__slide-recommend('courses-top__slide--exclusive', 'psychology', 'Психология', 'Курс Психология 2.0')
      +courses-top__slide-recommend('courses-top__slide--recommend', 'esoterics', 'Эзотерика', 'Курс Эзотерика 2.0')
    //end my-courses-recommend

//end my-courses-list